@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
a{
    text-decoration: none;
    color: inherit;
    color: #fff;
}


.hero{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-image: url(../img/bgBubs.jpg);
    background-position: center;
    background-size: cover;
    position:absolute;
}

.logo{
    width: 150px;
}


.nav-link{
    color: black;
    font-weight: 700;
    font-size: 20px;
    padding-block: 30px;
    text-align: center;
}

.nav-item{
    border: 1.5px solid #cccccc;
    margin: 4.5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.content{
    color: #fbfcfd;
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
    z-index: 2;
}

h1{
    font-size: 60px;
}
p{
    font-weight: 100;
}
.textBox{
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    background-image: url(../img/back.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
}
@keyframes back{
    100%{
        background-position: 2000px 0;
    }
}

.socials{
    top: 85%;
    position: absolute;
    right: 5%;
}

.media{
    padding: 15px;
}

.media:hover{
    color: #033055;
}

.btn{
    width: 50%;
    color: #fbfcfd;
    padding: 5px;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 10px;
    cursor: pointer;
    font-weight: lighter;
}


.menuIcon{
    padding-right: 10px;
}


/*BUBBLES*/

.bubbles img{
    width: 50px;
    animation: bubble 7s linear infinite;
}

.bubbles{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: -80px;
}

@keyframes bubble {
    
    0%{
        transform: translateY(0);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    70%{
        opacity: 1;
    }
    100%{
        transform: translateY(-80vh);
        opacity: 0;
    }
}

.bubbles img:nth-child(1){
    animation-delay: 2s;
    width: 25px;
}
.bubbles img:nth-child(2){
    animation-delay: 1s;
}
.bubbles img:nth-child(3){
    animation-delay: 3s;
    width: 25px;
}
.bubbles img:nth-child(4){
    animation-delay: 4.5s;
    width: 25px;
}
.bubbles img:nth-child(5){
    animation-delay: 3s;
}
.bubbles img:nth-child(6){
    animation-delay: 6s;
    width: 20px;
}
.bubbles img:nth-child(7){
    animation-delay: 7s;
    width: 35px;
}

@media only screen and (min-width:1000px){
    .logo{
        padding-left: 30px;
        width: 250px;
    }

    .nav-link{
        color: #fff;
    }
    
    .nav-item{
        border: none;
        padding-inline: 10px;
    }
    h1{
        font-size: 90px;
        margin: 0px 0 30px;
    }
    .btn{
        width: 30%;
    }
}



/*EXPLORE PAGE*/

.heroE{
    overflow: hidden;
    background: #021f36;
    min-height: 100vh;
    width: 100%;
    color: #fff;
    position: relative;
    transition: heroLight 1s;
    background-image: url(../img/images-removebg-preview.png);
    background-size: 200px;
}

.pos__lightBtn{
    top: -1px;
    margin-left: 5px;
}

.light__btn{
    background: #efefef;
    height: 30px;
    width: 60px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    padding: 0;
    transition: background 1s, margin-left 1s;
}

.circle__lb{
    display: block;
    background: #999;
    height: 26px;
    width: 26px;
    border-radius: 50%;
    margin-left: 3px;
}

.lamp-container{
    position: absolute;
    top: 0;
    left: 50%;
    width: 100px;
}

.lamp{
    width: 100px;
}

.light{
    position: absolute;
    top: 99%;
    left: 45%;
    transform: translateX(-50%);
    width: 400px;
    opacity: 0;
    transition: opacity 0.5s;
}

.active{
    background: rgb(108, 211, 108);
}

.active .circle__lb{
    background: #fff;
    margin-left: 31px;
}

.webCards{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0.01;
    transition: opacity 0.5s;
}
.card{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 150px;
    background-color: #c0cbcd;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;   
}
.card h2{
    color: black;
    font-family: 'Parisienne', cursive;
}

.cartita1{
    background-image: url(../img/banner2-removebg.png);
}
.on{
    opacity: 1;
}

.heroLight{
    background: #2f5d83;
    background-image: url(../img/clouds.png);
    background-size: 150px;
}

@media only screen and (min-width:1000px){
    .lamp-container{
        left: 30%;
        width: 100px;
    }
    .lamp{
        width: 150px;
    }
    .light{
        position: absolute;
        top: 99%;
        left: 68%;
        width: 550px;
    }
    .webCards{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-end;
    }
}

/*ABOUR ME*/

.heroA{
    overflow: hidden;
    background-image: url(../img/space.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    width: 100%;
    color: #fff;
    position: relative;
}

.astronauta{
    width: 250px;
    position: absolute;
    right: 21%;
    top: 40%;
    -webkit-transform:rotate(-65deg);
  -moz-transform: rotate(-65deg);
  -ms-transform: rotate(-65deg);
  -o-transform: rotate(-65deg);
  transform: rotate(-65deg);
}
.astronauta2{
    width: 150px;
    position: absolute;
    right: 51%;
    top: 80%;
    -webkit-transform:rotate(105deg);
  -moz-transform: rotate(105deg);
  -ms-transform: rotate(105deg);
  -o-transform: rotate(105deg);
  transform: rotate(105deg);
}
.astronauta3{
    width: 125px;
    position: absolute;
    left: 10%;
    top: 10%;
    -webkit-transform:rotate(205deg);
  -moz-transform: rotate(205deg);
  -ms-transform: rotate(205deg);
  -o-transform: rotate(205deg);
  transform: rotate(205deg);
}

.formulario{
    position: absolute;
    top: 30%;
    width: 50%;
    border: 0;
}

input{
    border: 0px;
    border-color: none;
    box-shadow: none;
}

